.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #263039;
    border-bottom: 10px solid #ef3d4d;
    padding: 10px 20px;      
}

.main-header .name {
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Code';
    font-size: 35px;
    color: #ef3d4d;
    text-shadow: 1px 1px 0.5px rgb(176, 176, 176);
    
}